$background: #19181b;
$foreground: #252329;
$border: #3e3b45;
$text-white: #fbfbfb;
$text-grey: #d8d6dc;
$text-grey-dark: #a49fac;
$link: #646cff;
$link-hover:#535bf2;
$primary: #7c3aed;
$primary-light:#9b69f1;
$primary-dark:#5f14e0;
$success:#3aed3a;
$warning:#eded3a;
$error:#ed3a3a;